body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input, button {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #007BFF;
    color: white;
    border: none;
}

.error {
    color: red;
}
